<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="TfsSolutionInfo" switchType="System.Diagnostics.SourceSwitch" switchValue="Verbose">
      </source>
    </sources>
    <trace autoflush="true" indentsize="4">
      <listeners>
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>